.html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, div, a, .container-fluid, .row, .container, img, form{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.picContainer{
    padding:80px
}

/* body{
    background-color: #fcf7ff;
} */


.brand{
    height:auto;
    padding:7px;
    margin-left: 2.5%;
    margin-top: 30px;
}

.footerContainer{
    margin-top:-20px
}

.img-responsive{
    width:13%; margin-top:40px; margin-left:80px
    }

.navbar-header a{
    color: #F8D2E6;
    float:left;
}


#navBarContent{
    float:left;
}

.navbar-nav{
    width:400px;
    margin-left:-50px
}

.nav-link{
    color: #0b0864c2;
}

.nav-link:hover{
    text-decoration: underline;
}

.active{
   color:#0B0864;
   font-weight: 500;
}

.profile{
    width:50px;
    height:50px;
    background-color: #F8D2E6;
    border-radius: 40px;
    float:right;
    margin-left: 80%;
    margin-right:20px;
    box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
}


.main-header{
    text-align: center;
    width: 100%;
    color:#0B0864;

    font-weight: 700;
}


.circle{
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50px;
    background-color: #A2CCF9;
    /* box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1); */
    float:left;
    margin-left:10px;
}

.details{
    color: #0B0864;
    font-weight: 400;
    margin-left:20px;
}

.login-btn{
    width:10%;
    margin:auto;
    background-color: #4E8EEF;
    color:white;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
-webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
-moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
}

.footer{
    background-color: #F8D2E6;
    box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    -webkit-box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    -moz-box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    border-radius: 50px 50px 0px 0px;
    height: 130px;
}

.picture-input{
    height:56vh;
    background-color: #F8D2E6;
    box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    -webkit-box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    -moz-box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    border-radius: 50px;
    padding: 0;
    margin-left:11%
}

.askHeader{
    margin-top:100px;
    color: #0B0864;
    font-weight: 700;
    font-size: 30px;
}

.askP{
    margin-top:20px;
    color: #0B0864;
}

.textArea{
    height:20vh;
    border: none;
    border-radius:30px;
    box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
-webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
-moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
    background-color: white;
    margin-left:15px;
    margin-top:30px;
    color:#0b086494;
    padding:30px;
    
}

.textArea::placeholder{
    color:#0b086494;
}

.communitySelect{
    height:auto;
    border: none;
    border-radius:30px;
    box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
-webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
-moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.1);
    background-color: white;
    margin-left:15px;
    margin-top:30px;
    color:#0b086494;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
}

.post{
    margin-left:33%;
    background-color: #4E8EEF;
    color:white;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
-webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
-moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
border:none;
}

.add{
position: absolute;
    width: 2.5vw;
    height: 2.5vw;
float:right;
right:25px;
top:-13%;
    background-color: #4E8EEF;
    border-radius:50px ;
    box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(11,8,100,0.2);
    border:none;
   padding-left:1vw;


   background-image: url(../assets/add.png);
background-position: center;
background-size: cover;
cursor: pointer;
position: relative;
}

#user_profile_profilePic::-webkit-file-upload-button{
    background-color:transparent;
    color:transparent;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    position: relative;
 }
 
#user_profile_profilePic::before{
    width: 100% !important;
    height: 100% !important;
     /* border-radius: 50%; */
     background-color: transparent;
    margin:0;
    padding:0;
    cursor: pointer;
    position: relative;
 }
 
#user_profile_profilePic{
     height:100% !important;
     width: 100% !important;
     position: relative;
     color:transparent;
     /* border: none;
     margin-left: -20px;
     margin-top: 43px !important; */
     box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
     -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
     margin:0;
     padding:0;
     cursor: pointer;
 }

 #preview_image{
    height:56vh; 
    width: 100%; 
    border-radius: 50px;
    object-fit: cover;
     border:none;
     padding:0;
     /* content:""; */
  }

  .facebookCircle{
    margin-left:50%;
 }

 .mini-pic img{
    width:100%;  height: 2.5vw; border-radius: 100px;
}

  /* ipad */
@media only screen and (max-width: 768px) {
    #navBarContent{
        float:left;
        margin-right:350px;
    }

    .nav-item{
        float:left;
    }

    .navbar-nav{
        width:200px;
       margin-top:30px
    }
    .link2{
        margin-top:-40px;
        margin-left:60px;
    }

    .img-responsive{
        width:25%;
    }

    .circle{
        width: 4vw;
        height: 4vw;
    }
    .mini-pic{
        width:7vw;
        height: 7vw;
        border-radius: 50px;
        background-color: #A2CCF9;
        display:block;
        float: left;
    }

    .mini-pic img{
 
            width:100%;  height: 7vw; border-radius: 100px;

    }
    
    .details{
        width:70%;
    }


.picture-input{
    height:56vh;
    background-color: #F8D2E6;
    box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    -webkit-box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    -moz-box-shadow: 0px -3px 10px 0px rgba(11,8,100,0.1);
    border-radius: 50px;
    padding: 0;
    margin-left:0px;
    margin-top:80px
}


.askHeader{
    margin-left:8.333%;
    margin-top:-830px;
}

.askP{
    margin-left:8.333%
}

.textArea{
    margin-top:62vh;
    margin-left:8.333%
}

.communitySelect{
    margin-left:8.333%
}

.post{
    margin:auto;
}

.footerContainer{
    margin-top:50px;
}

.add{

        width:6.5vw;
        height:6.5vw;
    }


}
/* iphone */
@media only screen and (max-width: 375px) {
    #navBarContent{
        float:left;
        margin-right:5px;
    }

    .nav-item{
        float:left;
    }

    .navbar-nav{
        width:200px;
       margin-left: 120px;
       margin-top:-70px
    }
    .link2{
        margin-top:-40px;
        margin-left:60px;
    }

    .img-responsive{
        width:40%;
        margin-left:40px;
        margin-top:50px
    }

    .facebookCircle{
        margin-left:0;
    }

    .circle{
        float:left;
        width: 7vw;
        height: 7vw;
        margin-top:15px;
        margin-left:5px;
        background-color: transparent;
    }
    .askHeader{
        margin-top:-700px;
    }

    .askP{
      font-size:13px;
    }

    .picContainer{
        padding:42px;
    }

    .picture-input{
        margin-top:110px
    }

    
    .communitySelect{
        margin-top:15px;
    }
    
    .post{
        margin:auto;
    }

    .add{

        width:13vw;
        height:13vw;

right:25px;
top:-16%;

    }

}

