{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/ask.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg"><!--fix colour at a later stage-->
                
                <a class="navbar-brand brand" href="#"><img class="img-responsive" src="{{ asset('assets/logo2.png') }}" style="width:40%;"></a><!--insert logo-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle Nav!">
                    <span class="navbar-toggler-icon"></span>
                </button><!--setup for mobile-->

            
                <div class="collapse navbar-collapse" id="navBarContent" style="margin-top:30px">
                        <!--nav content-->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" style="margin-left:-50px" href="/">Explore</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="margin-left:20px" href="/profile">My Profile</a>
                        </li>
                    </ul><!--navbar-nav-->

                    <div class="profile"></div>
                    
                </div><!--end of navcontent-->   
            </nav><!--end of nav-->

            <div class="row">
              <div class="col-12 col-lg-6" style="padding:80px">
                <div class="picture-input col-10" style="margin-left:11%"></div>
              </div>

              <div class="col-12 col-lg-6">              
              <h3 class="col-10 askHeader">Ask for advice...</h3>
              <p class="col-10 askP">CoCreate is a safe space where creatives can get advice on the projects they are working on. Show us what you are designing at the moment!</p>

              <textArea class="col-10 textArea">Ask your question</textArea>
              <select class="col-10 communitySelect">
                <option>Community</option>
                  <option>Illustration</option>
                  <option>Graphic Design</option>
                  <option>UX design</option>
              </select>

              <div class="row" style="margin-top:50px">
              <div class="post col-3">Post question</div></div>
              </div>

            </div>

         
            <div class="row" style="margin-top:30px">
                <div class="footer col-12 row">
                  <div class="col-4"><img class="img-responsive" src="{{ asset('assets/Group 5.png') }}" style="width:13%; margin-top:40px; margin-left:80px"></div>
                  <div class="col-4" style="text-align:center; color:white; margin-top:60px">COPYRIGHT 2021 PROJECT</div>
                  <div class="col-4" style="margin-top:45px">
                    <div class="circle" style="margin-left:50%"></div>
                     <div class="circle"></div>
                      <div class="circle"></div>
                       <div class="circle"></div>
                  </div>
                </div>
            </div>

            
{% endblock %}