{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}
    <div class="large-container row d-none d-lg-block">
        <div class="row">

            <div class="half1 col-lg-6">
                 <div class="brand col-1"><img class="img-responsive" src="{{ asset('assets/logo2.png') }}" style="width:100%; float:right"></div>
                          <h1>SIGN UP</h1>

                <div class="row" style="margin-left:5%">
                    <div class="container col-3" style="margin:auto">
                        <div class="profile-pic"></div>
                        <div class="add"></div>
                    </div>
                </div>

                <div class="user row">
                <i class="fas fa-user"></i>
                <input class="col-9" style="margin-left:12%" type="text" name="name" id="name" placeholder="Fullname"/>

                <i class="fas fa-unlock-alt"></i>
                <input class="col-9" style="margin-left:12%" type="email" name="email" id="email" placeholder="Email"/>

                <i class="fas fa-unlock-alt"></i>
                <input class="col-4" style="margin-left:12%" type="password" name="password" id="password" placeholder="Password" style="float:left"/>

                <i class="fas fa-unlock-alt"></i>
                <input class="col-4" style="margin-left:8%" type="password" name="confirm" id="confirm" placeholder="Confirm Password" style="float:left;"/>
                
                </div><!--user-->

              <div class="row" style="margin-top:40px">
                <div class="login-btn col-2">Sign up</div>
                </div>

                <p class="signup">Already have an account? <strong>Sign in now! </strong></p>
              
            </div><!--half1-->

            <div class="half2 col-12 col-lg-6">
            </div><!--half2-->

        </div><!--row-->
    </div><!--large container-->

    <div class="small-container row d-lg-none">

  <div class="row col-12">

        <div class="half2 col-12">
        <div class="brand col-2"><img class="img-responsive" src="{{ asset('assets/logo2.png') }}" style="width:100%"></div>

            <div class="card col-10" >
                <h1 class="col-12" style="text-align:center;">SIGN UP</h1>

                <div class="row" style="margin-left:5%">
                    <div class="container col-3" style="margin:auto">
                        <div class="profile-pic"></div>
                        <div class="add"></div>
                    </div>
                </div>
                <div class="user col-12">
                <i class="fas fa-user"></i>
                <input class="col-12" type="text" name="email" placeholder="Email"/>

                <i class="fas fa-unlock-alt"></i>
                <input class="col-12" type="text" name="fullname" placeholder="Fullname"/>

                <i class="fas fa-unlock-alt"></i>
                <input class="col-12" type="password" name="password" placeholder="Password"/>

                <i class="fas fa-unlock-alt"></i>
                <input class="col-12" type="password" name="confirm" placeholder="Confirm"/>
                </div><!--user-->

                 <div class="row" style="margin-top:10px">
                <div class="login-btn col-12 col-md-5">Sign in</div>
                </div>

                <div class="row">
                <p class="signup col-12" style="margin-bottom:20px">Already have an account? <strong>Sign in now! </strong></p>
                </div>

            </div><!--card-->
        </div>

    </div><!--row-->

    </div>

{% endblock %}